{% extends "ecommerce_site/navbar.html" %}
{% block title %}
For Sale Page
{% endblock %}
{% block content %}
    <div>
    <h1 class="for_sale-title">Items For Sale</h1>
    {% if post_list %}
        <div class="image-grid">
            {% for post in post_list %}
            <div class="image-container">
                <img class="post-img" src="{{ post.image.url }}" alt="image not found">
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No posts currently.</p>
    {% endif %}
{% endblock %}