{% extends "ecommerce_site/navbar.html" %}
{% block title %}
Home Page
{% endblock %}
{% block content %}
    <h1>Welcome to CampusBay</h1>
    {% if post_list %}
        <table class="post_list">
            <tbody>
            {% for post in post_list %}
                <div>
                    <td>{{ post.title }}</td>
                    <td>{{ post.price }}</td>
                    <td>{{ post.seller }}</td>
                    <td>{{ post.time_listed }}</td>
                </div>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No posts currently.</p>
    {% endif %}
{% endblock %}