{% extends "ecommerce_site/navbar.html" %}
{% block title %}
Home Page
{% endblock %}
{% block content %}
    <h1>Welcome to CampusBay</h1>
    {% if post_list %}
        <table class="post_list">

            {% for post in post_list %}
            <tbody>
                <div>
                    <td> {{ post.seller }} wants to sell <em>{{ post.title }}</em> for <strong>{{ post.price }} dubloons</strong></td>
                    <img src="{{ post.image.url }}" alt="image not found" style="width:25%">
                </div>
            </tbody>
            {% endfor %}
        </table>
    {% else %}
        <p>No posts currently.</p>
    {% endif %}
{% endblock %}