{% extends "ecommerce_site/navbar.html" %}
{% block title %}
Messages
{% endblock %}
{% block content %}
    <br>
    <br>
    {% if chat_list %}
    <div class="chat-list">

        <h3> Chats </h3>

        {% for chat in chat_list %}

            <a class="ignorehref" href=" {% url 'detail_messages' chat.profile.id %} ">
                <div class="from-user">
                    {% if chat.profile.user.first_name %}
                        <strong> {{chat.profile.user.first_name}} {{chat.profile.user.last_name}} </strong>
                    {% else %}
                        <strong> {{chat.profile.user.username}} </strong>
                    {% endif %}
                </div>
            </a>

        {% endfor %}

    </div>
    {% else %}
    <p>No messages.</p>
    {% endif %}
{% endblock %}