{% extends "ecommerce_site/navbar.html" %}
{% block title %}
Messages
{% endblock %}
{% block content %}
    <br>
    {% if chat_list %}
    <div class="chat_list">

        {% for chat in chat_list %}

            <a href=" url 'detail' from_user.username ">
            <div class="from-user">
                {% if from_user.first_name %}
                    <strong> {{from_user.first_name}} {{from_user.last_name}} </strong>
                {% else %}
                    <strong> {{from_user.username}} </strong>
                {% endif %}
            </div>

        {% endfor %}

    </div>
    {% else %}
    <p>No messages.</p>
    {% endif %}
{% endblock %}